.Bitcoin{
	width: 50%;
	background-color: #efefef;
	justify-content: flex-end;
	align-items: center;

	.container{
		.flex;
		padding: 1rem 2rem;

	}

	.title{
		h5{
			padding: 1rem;
		}
	}

	.bar{
		transition: width .2s ease,background-color .2s ease;
		background-color: @miamiBlue;
        height:4px;
        background-color: #7cfde7;
        .flex;
        width: 12.5rem;
        margin-left: 1rem;
	}

		.description{
			p{
				padding: 1.5rem;
			}
		}
		
}

@media screen and (max-width: @sm) {
	.Bitcoin {
		width: 100%;
		padding: 0 1.5rem;
		height: inherit;
		.title{
			margin-bottom: inherit;
			padding: 1rem 0;
		}
		.container {
			width: inherit;
			height: inherit;
			padding: 0;
		}
		.description{
			p{
				width: inherit;
			}
		}
	}
}
