.CodeWindowOverlay {
    position: relative;
    z-index: 10;
   	top: 2rem;
   	left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
    height: 456px;
    width: 888px;
    background-size: 93%;
    background-repeat: no-repeat;
    background-image: url('https://s3.amazonaws.com/stredm/namecheap/textEditor.png');
    background-position: bottom;
}