.CodeWindowOverlay {
    position: relative;
    .column;
    padding: 2rem 5vw;

    .image {
        .flex-center;
        z-index: 10;
        top: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 13px 2px @blue;
        height: 46.125vw;
        width: 90vw;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('https://s18.postimg.org/r0e7eilzt/Screen_Shot_2016_11_23_at_7_35_16_AM.png');
        background-position: top;
    }
    
}

@media screen and (min-width: @sm) {
    .CodeWindowOverlay {
        padding: 2rem 15vw 0;
        height: 35.875vw;

        .image {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            height: 35.875vw;

            width: 70vw;

            background-position: bottom;
        }
    }
}