//brand colors

@facebook-blue:#3b5998;
@twitter-blue: #55acee;
@instagram-blue: #3f729b;
@soundcloud-orange: #ff8800;
@youtube-red: #cd201f;
@spotify-green: #2ebd59;

// SET COLORS
@purple: #7201F3;
@darkPurple: #5C18FC;
@white: #f4f4f4;
@light-gray: #dadfe1;
@gray: #bdc3c7;
@dark-gray: #313542;
@orange: #f78e57;
@red: #f9575a;
@salmon: #ff8181;
@green: #2ecc71;
@yellow: #f5d76e;
@cyan: #7CFDE7;
@primary: @purple;
@secondary: @blue;


@pink: #ff0098;
@miamiBlue: #85fde8;
@blue: #6828fc;
@white: #ffffff;
@altWhite: #efefef;
@lightGrey: #e0e0e0;
@lighterBlue: #6244ee;
@darkerBlue: #4e37ee;
@lightBlue: #583dee;
@darkGray: #757575;

@transparent: rgba(0,0,0,0);