.Footer {

    .icon-container {
        background-color: @blue;
        border-radius: 1000px;
        padding: 1rem;
        margin: 0 1rem;
        color: @white;
    }
}

@media screen and (max-width: @sm) {
    .Footer {
        .RubyLink {
            .Button {
                width: 8rem;
                height: 4rem;
            }
        }
    }
}