.InfoPanel{
	position: relative;
	.column;

    background-color: @altWhite;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 8rem;
   .bar{

        height:4px;
        background-color: @miamiBlue;
        width: 15.5rem;
        margin-left: 1rem;
    }
	p{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.info_text{
		.column;
		padding: 0 1.5rem;
		.title {
			margin: 0 0 1rem;
		}
		p{
			font-size: @defaultFontSize * 1.25;
			width: auto;
		}
		.text{
			.flex-center;
		}
        .register-buttons {
            padding-top: 2rem;
            p {
                font-size: @defaultFontSize * .8;
                color: @pink;
            }
        }
        .RubyLink {
            .flex-center;
            
        }
		button{
			.flex-center;
			padding: 1rem 2rem;
			margin: 0.5rem 1rem 1.5rem;
			background-color: @pink;
			border: none;
			color: white;
			border-radius: 4px;

		}
		
	}
	.global_box{
		position: absolute;
		z-index: 10;
		width: 100vw;
		height: 50px;
		bottom: 0px;
		background-color: #6828fc;
		opacity: .95;
	}
	h1.global{
		position: absolute;
		height: 50px;
		bottom: 40px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.video_container{
		.column-reverse;
		width: 100%;
		#video{
			margin: 2rem;
            width: 80vw;
			height: 45vw;
		}
		.video_title {
			width: 100%;
			padding: 0 1.5rem;
		}
		.bar{
		}
	}
}

@media screen and (min-width: @sm) {
    .InfoPanel {
    	.row-nowrap!important;
    	padding: 6rem 5rem 10rem;
    	.info_text{
    		.row;
    		p.text {
    			padding-right: 10vw;
    		}
            .RubyLink {
                margin: inherit;
            }
    	}
    	.video_container {
    		.column;
            width: 50vw;
            #video {
                width: 35vw;
                height: 20vw;
            }
    	}
    	h1.global{
    		position: absolute;
    		height: 50px;
    		bottom: 40px;
    		left: 14rem;
    	}
    }

}