.JudgesTiles{
	height: 390px;
	.photo_container{
		width: 189px;
		background-image: url('https://bitcoin.org/img/icons/opengraph.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: #f7931a;
	}
	.info_container{
		margin-top: 50px;
		width: 189px;
		justify-content: flex-start;
		align-items: flex-start;
		left: 10px;
		position: relative;
		height: 80%;
		
	}
	.position{
		color: @purple;
		font-size: 15px;
	}
	.name{
		margin-bottom: 20px;
		p{
			color: @purple;
		}
		.bar{	
			position: absolute;
		    width: 130px;
		    height:2px; 
		    background-color: @purple;
		}
	}
	.bio{
		font-size: 10px;
		width: 160px;
		margin-bottom: 20px;
		line-height: 18px;
	}
	.company{
		color: @purple;
	}
}