.JudgesTiles{
	.photo_container{
		.column;
		margin: 0 1rem;
		img {
			.flex-center;
			height: 25rem;
		}
	}
	.info_container{
		margin: 50px 1rem 0;
		overflow-y: scroll;
		justify-content: flex-start;
		align-items: flex-start;
		left: 10px;
		position: relative;
		
	}
	.position{
		color: @purple;
		font-size: 15px;
	}
	.name{
		margin-bottom: 20px;
		p{
			color: @purple;
		}
		.bar{	
			position: absolute;
		    width: 130px;
		    height:2px; 
		    background-color: @purple;
		}
	}
	.bio{
		font-size: 10px;
		margin-bottom: 20px;
		line-height: 18px;
	}
	.company{
		color: @purple;
	}
}
@media screen and (max-width: @sm) {
    .JudgesTiles {
        .column;
        .info_container{
        	margin: 50px auto 0;
        }
    }
}