.LandingPage {
	
	width: 100%;


    .landing_splash {
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 700px;
        background-size: 100%;
        background-image: url('https://s3.amazonaws.com/stredm/namecheap/mainHeroBG.png');
        background-repeat: no-repeat;
    }
    .prizes_location{
        width: 50%;
        background-color: #e0e0e0;
        align-items: center;
        justify-content: space-around;
    }
    .create_code{
    	justify-content: center;
    	align-items: center;
    	background-color: #fe079a;
    	width: 100%;
    	height: 110px;

    	h5{
    		color: white;
            font-size: @defaultFontSize;
            font-family: 'Fira Mono', monospace;
    	}
    }
    .details-container {
        .row;
    }
    .why_resources_container {
        .row;
        background-color: @altWhite;
        padding-bottom: 3rem;
        .bitcoin_box{
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 1rem;
            bottom: 0px;
            left: 0;
            background-color: #7cfde7;
            opacity: .95;
        }
        h1.bitcon_container{
            position: absolute;
            bottom: -10px;
            left: 3.5rem;
            z-index: 1
        }
    }

}

@media screen and (max-width: @sm) {
    .LandingPage {
        .landing_splash{
            height: 60vh;
            background-size: auto 60vh;
        }
        .details-container {
            .column;
            .prizes_location {
                width: 100%;
            }
        }
        .why_resources_container {
            .column;
            padding: 0;
            h1.bitcon_container{
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}