.Location{

	background-color: #f6f6f6;
	width: 95%;
	height: 35%;
	justify-content: space-around;
	align-items: center;

	.title_text{
		align-items: center;
		justify-content: space-around;
		height: 50px;

		.title{
			font-size:40px;
		}
		.bar{
			width: 200px;
	        height:4px; 
	        background-color: #5c18fc;
	        position: relative;
	        transition: width .2s ease,background-color .2s ease;
		}
	}
	
	.loc{
		justify-content: space-around;
		align-items: center;

		.location_text{
			width: 30%;
			height: 120px;
			justify-content: space-between;
		}
		.bold{
			
			font-size: 25px;
		}
		.map{
			width: 50%;
			height: 120px;
		}
	}
	
}

.Location:hover .bar{
	background-color: @miamiBlue;
	width: 220px;
}

