.NavHeader {
    padding: 0 2rem;
    .learn-more {
        color: @white;
        height: @buttonHeight;
        margin: 0 2.5rem;
        cursor: pointer;
    }
    .line {
        background-color: @white;
        height: 2px;
        margin: 3px 0.5rem 0;
    }
    h6 {
        color: @pink;
    }
    h6.bitcoin {
        color: @cyan;
    }
}