.NavHeader {
    .column!important;

    
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    font-family: 'Fira Mono', monospace;
    .title_container{
        padding: 5vh 0;
        .flex-center;
    }

    .nav-buttons {
        .row;
    }
    
    .title{
        font-size: 40px;
        line-height: 40px;
        font-weight: 100;
    }
    .pink{
        color: #ff0098;
    }
    .blue{
        color: #7cfde7;
    }
    .learn{
        align-items: center;
        color: white;
        margin-right: 50px;
        justify-content: center;
        .learn_bar{
            margin-top: 20px;
            width: 100px;
            
            height:2px; 
            background-color: white;
            
            position:absolute; 
        }
    }

    .button{
        height: 140px;
        > p {
            font-family: 'Fira Mono', monospace;
        }
    }
}

@media screen and (min-width: @sm) {
    .NavHeader {
        .row!important;
        right: 20px;
        margin-right: 30px;

        .title_container{
            padding: 0;
            margin-left: 80px;
        }
    }

}