.PrizeTile{
	height: 45%;
	width: 30%;
	justify-content: space-around;
	align-items: center;

	.pic{
		width: 70%;
		height: 60%;
		background-size: 60%;
		background-position: center;
		background-repeat: no-repeat;
		transition: background-size .2s ease;
	}
	.place{
		font-size: 25px;
	}
	.amount{
		font-size: 20px;
		transition: font-size .2s ease;
	}
}

.PrizeTile:hover .pic{
	background-size: 70%;
}
.PrizeTile:hover .amount{
	font-size: 25px;
}