.Prizes{

	background-color: #f6f6f6;
	width: 95%;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 0;

	.title_text{
		align-items: center;
		justify-content: space-around;

		.title{
			font-size:40px;
		}
		.bar{
			width: 200px;
	        height:4px; 
	        margin: 1rem 0;
	        background-color: #5c18fc;
	        position: relative;
	        transition: width .2s ease,background-color .2s ease;
		}
		a {
			color: @pink;
		}
	}
	.prize_details{
		width: 90%;
		align-items: center;
		justify-content: space-around;
	}
}

@media screen and (min-width: @sm) {

	.Prizes:hover .bar{
		background-color: @miamiBlue;
		width: 220px;
	}
}

@media screen and (max-width: @sm) {
	height: inherit;
}