.PrizeTile{
	height: 45%;
	width: 30%;
	justify-content: space-around;
	align-items: center;

	.pic{
		width: 70%;
		height: 60%;
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;
	}
	.place{
		font-size: 25px;
	}
}