.PrizeTile{
	height: 50%;
	width: 33%;
	justify-content: space-around;
	align-items: center;

	.pic{
		width: 70%;
		height: 12rem;
		background-size: 60%;
		background-position: center;
		background-repeat: no-repeat;
		transition: background-size .2s ease;
	}
	.place{
		font-size: 25px;
	}
	.amount{
		font-size: 20px;
		margin: auto;
		transition: font-size .2s ease;
	}
	.extra {
		font-size: 10px;
		margin: auto;
		text-align: center;
		line-height: 18px;
		a {
			color: @pink;
		}
	}
	.buffer-icon {
		color: @transparent;
		.flex-center;
		margin: auto 1rem;
	}
	.styled-icon {
		.flex-center;
		cursor: pointer;
		margin: auto 1rem;
		border-radius: 1000px;
		.transition(all, 0.5s);
		&.flip {
			transform: rotateZ(-180deg);
			color: @pink;
		}
	}
	.dropdown {
		position: absolute;
		top: 17rem;
		left: 50%;
		transform: translate(-50%, 0);
		.transition(all, 0.5s);
		max-height: 110px;
		overflow-y: scroll;
		height: 0px;
		width: 55%;
		z-index: 10;
		.CurrencyItem {
			margin-left: 8px;
			cursor: pointer;
			background-color: @blue;
			color: @white;
			p {
				.flex-center;
			}
		}
		.CurrencyItem:hover {
			// background-color: @white;
			color: @pink;
		}
		.CurrencyItem.selected {
			color: @pink;
		}
		&.open {
			height: 110px;
		}
	}
}



@media screen and (min-width: @sm) {
	.PrizeTile:hover .pic{
		background-size: 70%;
		color: @pink;
	}
	.PrizeTile:hover .amount{
		font-size: 21px;
		color: @pink;
	}
	.PrizeTile:hover .styled-icon{
		color: @pink;
	}
}

@media screen and (max-width: @sm) {
	.PrizeTile {
		height: 45%;
		width: 50%;
		.column;
		.pic{
			width: 50%;
			height: 10rem;
			background-size: contain;
		}
		.amount {
			font-size: @defaultFontSize;
		}
		.buffer-icon {
			margin: auto 0rem;
		}
		.styled-icon {
			margin: auto 0.5rem;
		}
		.dropdown {
			width: 75%;
			top: 15rem;
		}
		.extra {
			height: 35px;
			margin: auto;
		}
	}
}