.Resources{
	
	width: 50%;
	background-color: #efefef;
	justify-content: flex-end;
	align-items: flex-end;


	.container{
		.flex;
		padding: 1rem 2rem;
	}
	.title{
		h5{
			padding: 1rem;
		}
	}

		.bar{
	        height:4px;
	        background-color: #7cfde7;
	        .flex;
	        width: 12.5rem;
	        margin-left: 1rem;
		}

	.resources_container{
		margin-top: 1rem;
		
		height: 60%;
		align-items: center;
		justify-content: center;

		.tile{
			width: 50%;
			height: 50%;
		}

		.title{
			
			align-items: center;
			justify-content: flex-start;

			.icon{
				width: 100px;
				height: 100px;
				background-size: 50%;
				background-position: center;
				background-repeat: no-repeat;
			}
			p{
				margin: 0;
				font-size: 30px;
			}
		}
		
		.api{
			border-bottom: 2px solid @pink;
			border-right: 2px solid @pink;

			.icon{
				background-size: 70%;
				background-image: url('https://s3.amazonaws.com/stredm/namecheap/apiIcon.png');
			}
			p{
				color: @miamiBlue;
			}
			
		}
		.blockChain{
			border-bottom: 2px solid @pink;

			.icon{
				
				background-image: url('https://s3.amazonaws.com/stredm/namecheap/blockChain3.png');
			}
			p{
				color: @darkGray;
			}
		}
		.examples{
			border-right: 2px solid @pink;
		
			.icon{
				
				background-image: url('https://s3.amazonaws.com/stredm/namecheap/example.png');
			}
			p{
				color: @pink;
			}
			
		}
		.news{
			.icon{
				
				background-image: url('https://s3.amazonaws.com/stredm/namecheap/newsIcon.png');
			}
			p{
				color: @darkerBlue;
			}
		}
	}
	li {
		.transition(all, 0.5s);
	}
	li:hover {
		color: @pink;
	}
}

@media screen and (max-width: @sm) {
	.Resources {
		width: 100%;
		padding: 0 1.5rem 5rem;
		height: inherit;
		.resources_container {
			opacity: 1;
			.transition(all, 0.5s);
			.title{
				.column;
				margin-bottom: inherit;
				padding: 1rem 0;
				p {
					font-size: @defaultFontSize;
				}
			}
		}
		
		.container {
			width: inherit;
			height: inherit;
			padding: 0;
		}
		.description{
			p{
				width: inherit;
			}
		}
		ul {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			height: 80%;
			width: 100%;
			margin: 2rem 0 0;
			padding-left: 1.5rem;
			transform-style: preserve-3d;
			.transition(all, 0.5s);
			font-size: @defaultFontSize * .9;
			pointer-events: none;
		}
		.title.active {
			opacity: 0;
		}
		ul.active {
			opacity: 1;
			pointer-events: all;
			transform-style: preserve-3d;
			transform: rotateY(360deg);
		}
	}
}