.SchedulePanel{
	width: 50%;
	height: 900px;
	background-color: green;

	.day_one{
		background-color: #6244ee;
		height: 300px;
		align-items: center;
		justy-content: flex-start;
		.text_container{
			height: 70%;
		}
	}
	.day_two{
		width: 50%;
		height: 600px;
		background-color: #4e37ee;
		justify-content: center;
		.text_container{
			height: 90%;
		}
	}
	.day_three{
		width: 50%;
		height: 600px;
		background-color: #583dee;
		justify-content: center;
		.text_container{
			height: 90%;
		}
	}

	.text_container{
		margin-left: 60px;
		width: 50%;
		height: 100%;
		align-items: flex-start;
		justify-content: space-around;

		.date{
			color: #70fae7;
			font-size: 20px;
		}
		.day_title{
			font-size: 30px;
		}
		p{
			color: white;
			font-size: 15px;
		}
		.blue_text{
			color: #70fae7;
			font-size: 12px;
		}
	}

}

@media screen and (max-width: @sm) {
	.SchedulePanel{
		width: 100%;
		.text_container{
			margin-left: 35px;
			width: 70%;
		}
	}
}