.SchedulePanel{
	width: 50%;
	height: 900px;
	background-color: green;

	.day_one{
		background-color: #6244ee;
		height: 300px;
		align-items: center;
		justy-content: flex-start;
		.text_container{
			height: 70%;
		}
	}
	.day_two{
		width: 50%;
		height: 600px;
		background-color: #4e37ee;
		justify-content: center;
		.text_container{
			height: 90%;
		}
	}
	.day_three{
		width: 50%;
		height: 600px;
		background-color: #583dee;
		justify-content: center;
		.text_container{
			height: 90%;
		}
	}

	.text_container{
		margin-left: 60px;
		width: 50%;
		height: 100%;
		align-items: flex-start;
		justify-content: space-around;
		transition: width .2s ease , height .2s ease;
		.date{
			color: #70fae7;
			font-size: 20px;
		}
		.day_title{
			font-size: 30px;
		}
		p{
			color: white;
			font-size: 15px;
		}
		.blue_text{
			color: #70fae7;
			font-size: 12px;
		}
	}


	.day_one, .day_two, .day_three {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	}

	.day_three:hover {
  		box-shadow: 0 14px 28px rgba(0,0,0,1.50), 0 10px 10px rgba(0,0,0,0.52);
	}
	.day_two:hover {
  		box-shadow: 0 14px 28px rgba(0,0,0,1.50), 0 10px 10px rgba(0,0,0,0.52);
	}
	.day_one:hover {
  		box-shadow: 0 14px 28px rgba(0,0,0,1.50), 0 10px 10px rgba(0,0,0,0.52);
	}
}











@media screen and (max-width: @sm) {
	.SchedulePanel{
		width: 100%;
		height: 900px;
		.text_container{
			margin-left: 20px;
			width: 70%;
		}
	}
}
