.Sponsors{
	width: 100%;
	background-color: #ffffff;
	align-items: center;
	justify-content: space-around;

	.title{
		justify-content: center;
		h6{
			padding: 1rem;
		}
		.bar{
	        height:4px;
	        background-color: #7cfde7;
	        width: 15.5rem;
	        margin-left: 1rem;
		}
	}

	

	.sponsors_container{
		align-items: center;
		justify-content: space-around;
	}
}

